<div class="contact">
    <!--<span><a href="XXX">Read my Resumé</a></span><br>-->

    <span><a href="http://ca.linkedin.com/in/laurie71" class="linkedin-profileinsider-popup">
        Find me on LinkedIn!</a></span>
    <br>

    <span><a href="http://www.twitter.com/lharper71">
        Follow me on twitter!</a></span>
    <a href="http://www.twitter.com/lharper71">
        <!--<img src="media/twitter.png" style="vertical-align: middle; border: 0px none;"></a>-->
        <img src="http://twitter-badges.s3.amazonaws.com/t_mini-a.png" style="vertical-align: middle; border: 0px none;"
                alt="Follow me on Twitter"/></a>
    <br>

    <span><a href="mailto:laurie@holoweb.net">
        Send me an e-mail!</a></span>
    <a href="mailto:laurie@holoweb.net">
        <img src="media/email.png" style="vertical-align: middle; border: 0px none;"
                alt="Send me an e-mail"></a>

</div>
<!--<img src="LaurieHarper.jpeg" width="64" height="64"/>-->
