<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<head profile="http://gmpg.org/xfn/11">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Laurie Harper: Homepage</title>
    <!--<meta name="description" content="">-->
    <!--<meta name="keywords" content="">-->

    <link rel="stylesheet" href="media/styles.css" type="text/css" media="screen, projection">
    <script type="text/javascript" src="http://www.linkedin.com/js/public-profile/widget-os.js"></script>
    <!--<script type="text/javascript" src="media/ga.js" async=""></script>-->
    <script type="text/javascript" src="media/jquery.js"></script>
<!--
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15085086-5']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script');
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www')
            + '.google-analytics.com/ga.js';
            ga.type = 'text/javascript';
            ga.async = true;

            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
-->
</head>
<body>
<div class="wrapper">
    <div class="box">
        <div class="form" id="lead_form">
            <div>
                <span><a href="/">Home</a></span>
                |
                <span><a href="recent-work.html">Recent Projects</a></span>
                |
                <span><a href="open-source.html">Open Source</a></span>
                |
                <span><a href="misc.html">Other</a></span>
            </div>

<!--<img width="105" height="26" src="media/logos/jQuery_identity/png/jQuery_logo_color_onwhite.png" alt="jQuery"/>-->
<!--<img width="105" height="26" src="media/logos/jQuery_identity/png/jQuery__UI_logo_color_onwhite.png" alt="jQueryUI"/>-->

<!--
            <label>
                <input name="emailForm" id="emailForm" maxlength="100"
                       value="Your E-Mail" type="text">
            </label>
            <label>
                <input name="submitButton" id="submitButton"
                       value="Keep Me Informed!" style="cursor: pointer;"
                       type="button">
            </label>
-->
        </div>
        <div class="content">
            <div class="logo">
                <!--<img src="media/nodejscloud_logo.png" alt="nodeJsCloud - A node.js Cloud Hosting Platform">-->
                <h1><span class="first">Laurie</span><span class="last">Harper</span></h1>
            </div>
{{ content }}
        </div>
        <div class="form" id="lead_form">
<!--<img width="105" height="26" src="media/logos/jQuery_identity/png/jQuery_logo_color_onwhite.png" alt="jQuery"/>-->
<!--<img width="105" height="26" src="media/logos/jQuery_identity/png/jQuery__UI_logo_color_onwhite.png" alt="jQueryUI"/>-->
<!--
            <label>
                <input name="emailForm" id="emailForm" maxlength="100"
                       value="Your E-Mail" type="text">
            </label>
            <label>
                <input name="submitButton" id="submitButton"
                       value="Keep Me Informed!" style="cursor: pointer;"
                       type="button">
            </label>
-->
        </div>
    </div>
</div>
<script type="text/javascript" src="media/common.js"></script>
<script type="text/javascript" src="media/main.js"></script>
</body>
</html>
