<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Laurie Harper: Homepage</title>
    <!--<meta name="description" content="">-->
    <!--<meta name="keywords" content="">-->

    <link href="media/styles.css" rel="stylesheet">

    <!-- HTML5-shiv for IE8 and lower: -->
    <!-- http://remysharp.com/2009/01/07/html5-enabling-script/ -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div class="wrapper">
    <div class="box">
        <header class="form" id="lead_form">
            <nav>
                <span><a href="/">Home</a></span>
                <!-- | <span><a href="recent-work.html">Recent Projects</a></span> -->
                | <span><a href="resume.html">Resumé</a></span>
                | <span><a href="open-source.html">Open Source</a></span>
                <!-- | <span><a href="misc.html">Other</a></span> -->
            </nav>
        </header>

        <section class="content">
            <div class="logo">
                <!--<img src="media/nodejscloud_logo.png" alt="nodeJsCloud - A node.js Cloud Hosting Platform">-->
                <h1><span class="first">Laurie</span><span class="last">Harper</span></h1>
            </div>
{{ content }}
        </section>

        <footer class="form" id="lead_form">
        </footer>
    </div>
</div>

<script src="http://www.linkedin.com/js/public-profile/widget-os.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="media/jquery.js"%3E%3C/script%3E'))</script>
<script src="media/common.js"></script>
<script src="media/main.js"></script>

<!-- Google Analytics: -->
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21283899-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
